#moncercle{
  background:#bfd70e;
  border-radius:50%;
  width:100px;
  height:100px;
  border:2px solid #679403; 
  transition: 2s;
}

#text
{
  color: white ; 
  text-align: center;
  font-family: fantasy;  
  margin-top: 40px;
}
  #moncercle:hover 
{
    height: 400px;
}