*
{
    margin: 0;
    padding: 0;  
}
body
{
    height: 100vh ;
    display: flex;
    flex-direction: column;    
}
header
{
    background-color: red; 
    flex : 1;
    text-align: center;
}
ul
{
    display: flex;
    justify-content: space-around ;
    list-style: none; 
    padding:0;
}
li
{
    border: 1px solid black;
    flex : 1;
}
article
{
    flex : 5;
    display: flex;
}
.aside1
{
    background-color: yellow;  
    flex:1;
}
   
.paragraphes
{
    background-color: lightblue;    
    display: flex;
    flex:3;
    flex-flow: row wrap;
    padding: 50px;    
}
.paragraphes p
{
padding-inline-start: 20px;
flex : 1 0 300px;
}
.aside2
{
    background-color: plum; 
    flex:1;
}
footer
{
    background-color: lightgreen; 
    flex : 0.5 ;
    text-align: center;

}  