.vert
{
    background-color: green;
    width: 210px;
    position: absolute;
    padding: 20px;
    border : 1px solid black;
}
.bleu
{
    background-color: blue;
    position: relative;
    padding: 20px;
    border : 1px solid black;
}
.orange
{
    background-color: orange;
    width: 5px;
    position: absolute;
    padding: 20px;
    border : 1px solid black;
    top: 70px;
    left: 65px;
}