
/* Corps du cv */

body  
{
    font-family: Arial, sans-serif;
    background-color: #249E3D;
    color: white;
    text-align: center;
    font-size: 130%;
    
}
body ul
{
    text-align: center;
    display: inline;
}
p, li
{
    font-size: 120%;
}
#Apropos 
{
    text-align: center; 
}

/* Entête */

header
{   color: black;
    text-align: center;
    
}
header, h1, h2
{
    font-family: "ma_police", sans-serif;
    text-transform: uppercase;
    color:#C7D1C9;

}

/* Partie cachée  */
#pg, #pd, #bp 
{
    visibility: hidden;
}

/* Pied de page  */

.bas_page 
{
    text-align: right;
    font-size: 50%;
    
}


/* images */

img
{
    border-radius: 8px;
}

/* Police   */
@font-face 
{
font-family: "ma_police";
src: url("2381.ttf");
}